@charset "utf-8";
/* CSS Document */

/* reset.css */
@font-face
{
    font-family:'wf_SegoeUILight';
    src:url('Fonts/latest.eot');
    src:url('Fonts/latest.eot?#iefix') format('embedded-opentype'),url('Fonts/latest.woff') format('woff'),url('Fonts/latest.ttf') format('truetype'),url('Fonts/latest.svg#web') format('svg');
    font-weight:normal;
    font-style:normal
}
@font-face
{
    font-family:'MSHPIconsRegular';
    src:url('Fonts/mshpicons-regular-webfont.eot');
    src:url('Fonts/mshpicons-regular-webfont.eot?#iefix') format('embedded-opentype'),url('Fonts/mshpicons-regular-webfont.woff') format('woff'),url('Fonts/mshpicons-regular-webfont.ttf') format('truetype'),url('Fonts/mshpicons-regular-webfont.svg#web') format('svg');
    font-weight:normal;
    font-style:normal
}
@font-face
{
    font-family:'wf_SegoeUI';
    src:url('Fonts/latest.eot');
    src:url('Fonts/latest.eot?#iefix') format('embedded-opentype'),url('Fonts/latest.woff') format('woff'),url('Fonts/latest.ttf') format('truetype'),url('Fonts/latest.svg#web') format('svg');
    font-weight:normal;
    font-style:normal
}



html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, code, del, dfn, em, img, q, dl, dt, dd, ol, ul, li, form, label, table, caption, tbody, tfoot, thead, tr, th, td {margin:0;padding:0;border:0;font-weight:inherit;font-style:inherit;font-size:100%;font-family:inherit;vertical-align:baseline;} /*, fieldset, legend*/
body {line-height:1.5;}
fieldset, legend
{
	border:1px solid #0061ff;
}
table {border-collapse:separate;border-spacing:0;}
caption, th, td {font-weight:normal;}/*text-align:left;*/
table, td, th {}/*vertical-align:middle;*/
blockquote:before, blockquote:after, q:before, q:after {content:"";}
blockquote, q {quotes:"" "";}
a img {border:none;}
.watermarked{color:#AAA;}

/* typography.css */
html {}
body {color:#053686;background:#fff;font-family:"wf_SegoeUI", "Segoe UI Light Light", "Tahoma","Verdana","Arial","sans-serif";-webkit-font-smoothing:antialiased;-moz-font-smoothing:antialiased;-ms-font-smoothing:antialiased;-o-font-smoothing:antialiased;-webkit-text-size-adjust:100%;-moz-text-size-adjust:100%;-o-text-size-adjust:100%;-ms-text-size-adjust:100%}
h1, h2, h3, h4, h5, h6 {font-weight:normal;color:#053686;font-family:"wf_SegoeUILight","wf_SegoeUI","Tahoma","Verdana","Arial","sans-serif"}
h1 {font-size:2.2em;line-height:1;margin-bottom:0.5em;}
h2 {font-size:1.8em;margin-bottom:0.75em;}
h3 {font-size:1.6em;line-height:1;margin-bottom:1em;}
h4 {font-size:1.4em;line-height:1.25;margin-bottom:1.25em;}
h5 {font-size:1.2em;}/*margin-bottom:1.5em;*/
h6 {font-size:1em;}
h1 img, h2 img, h3 img, h4 img, h5 img, h6 img {margin:0;}
p {margin:0 0 1.5em;}
p img.left {float:left;margin:1.5em 1.5em 1.5em 0;padding:0;}
p img.right {float:right;margin:1.5em 0 1.5em 1.5em;}
a:focus, a:hover {color:#da1423; text-decoration:underline;}
a {color:#053686;}
blockquote {margin:1.5em;color:#666;font-style:italic;}
strong {font-weight:bold;}
em, dfn {font-style:italic;}
dfn {font-weight:bold;}
sup, sub {line-height:0;}
abbr, acronym {border-bottom:1px dotted #666;}
address {margin:0 0 1.5em;font-style:italic;}
del {color:#666;}
pre {margin:1.5em 0;white-space:pre;}
pre, code, tt {font:1em 'andale mono', 'lucida console', monospace;line-height:1.5;}
li ul, li ol {margin:0;}
ul, ol {margin:0 1.5em 1.5em 0;padding-left:3.333em;}
ul {list-style-type:disc;}
ol {list-style-type:decimal;}
dl {margin:0 0 1.5em 0;}
dl dt {font-weight:bold;}
dd {margin-left:1.5em;}

/*table {margin-bottom:1.4em;width:100%;}*/
/*table {margin-bottom:1.4em;}*/

th {font-weight:bold;}
thead th {background:#c3d9ff;}
th, td, caption {padding:4px 10px 4px 5px;}
tfoot {font-style:italic;}
caption {background:#eee;}
.cleaner{clear:both;}
.float_l{float:left;}
.float_r{float:right;}

/* grid.css */
/*.container {width:1000px; min-width:800px;  margin:0 auto;}*/
.float_l{float:left;} 
.float_r{float:right;} 
.cleaner{clear:both;}
.column, div.span-1, div.span-2, div.span-3, div.span-4, div.span-5, div.span-6, div.span-7, div.span-8, div.span-9, div.span-10, div.span-11, div.span-12, div.span-13, div.span-14, div.span-15, div.span-16, div.span-17, div.span-18, div.span-19, div.span-20, div.span-21, div.span-22, div.span-23, div.span-24 {float:left;margin-right:10px;}
.hide{display:none;}
.redbg
{
    background:#053686;
}

.arrow
{
    background:url(../Images/arrow_coloredbg.png) center top no-repeat;
    height:30px;
    width:30px;
    transition: all 0.15s ease-in-out;
    -webkit-transition: all 0.15s ease-in-out;
    -o-transition: all 0.15s ease-in-out;
    -moz-transition: all 0.15s ease-in-out;
    -ms-transition: all 0.15s ease-in-out;
}

.arrow:hover
{
    background:transparent url(../Images/arrow_coloredbg_hover.png) center top no-repeat;
}

.redbg *
{
    color:White;
}

.title
{
    font-family:"Open Sans", "wf_SegoeUI","Tahoma","Verdana","Arial","sans-serif";
	text-transform: capitalize;
	font-weight: normal;
	font-style: normal;
	font-size:18px;
}

.post_img
{
    width:100px;
    height:100px;
}

.content
{
    margin:5px 0 5px 0;
    font-family:"Open Sans", "wf_SegoeUI","Tahoma","Verdana","Arial","sans-serif";
    font-size:14px;
}

::-webkit-scrollbar {
    width: 10px;
    height: 6px;
}

::-webkit-scrollbar-button:start:decrement,
::-webkit-scrollbar-button:end:increment {
    height: 30px;
    display: none;
    background-color: transparent;
}

::-webkit-scrollbar-track-piece {
    background-color: #CCC;
}

::-webkit-scrollbar-thumb:vertical {
    height: 50px;
    background-color: #666;
}

::-webkit-scrollbar-thumb:horizontal {
    width: 50px;
    background-color: #666;
    -webkit-border-radius: 3px;
}

.bg_darkblue
{
    background:#011e49;
    border:1px solid #011e49;
    color:#ffffff;
}

.bg_lighterblue
{
    color:#ffffff;
    background:#053686;
    border:1px solid #053686;
}

.bg_white
{
    color:#011e49;
    border:1px solid #053686;
    background:#ffffff;
}

.img_50percent
{
    width:126px;
    height:80px;
    margin-right:2.5%;
    margin-left:2.5%;
    margin-bottom:5%;
    float:left;
    transition: all 0.15s ease-in-out;
    -webkit-transition: all 0.15s ease-in-out;
    -o-transition: all 0.15s ease-in-out;
    -moz-transition: all 0.15s ease-in-out;
    -ms-transition: all 0.15s ease-in-out;
}

.img_50percent:hover
{
    outline:3px solid #ccc;
}

.ajax__tab
{
    color:#053686;
}

.ajax__tab_white
{
    color:#053686;
}

.ajax__tab_white .ajax__tab_tab
{
	/*font-family:"Helvetica Neue", "Lucida Grande", "Segoe UI Light", Arial, Helvetica, Verdana, sans-serif;*/
	font-family:Arial, Helvetica, Verdana, sans-serif;
    color:#ffffff;
    padding:5px;
}
.ajax__tab_white .ajax__tab_header
{
    border-bottom:1px solid #0061ff;
}

.ajax__tab_white .ajax__tab_body
{
    padding:10px;
    border:1px solid #0061ff;
    border-top:none;
    background:#ffffff;
    color:#053686;
}

.ajax__tab .ajax__tab_tab
{
    padding:6px;
    color:#ffffff;
}
.ajax__tab .ajax__tab_body
{
    padding:10px;
    border:1px solid #053686;
    border-top:none;
    background:#053686;
    color:#ffffff;
}
.ajax__tab_white .ajax__tab_body
{
    padding:10px;
    border:1px solid #0061ff;
    border-top:none;
    background:#ffffff;
    color:#053686;
}

.ajax__tab .ajax__tab_body input[type="submit"], .ajax__tab_white .ajax__tab_body input[type="submit"]
{
    border-color:#ffffff;
    float:right;
}

.ajax__tab_white .ajax__tab_outer
{
    z-index:9999;
    color:#ffffff;
    background:#0061ff;
    margin-right:5px;
    border:1px solid #0061ff;
    border-bottom-color:transparent;
    margin-bottom:-2px;
}


.ajax__tab .ajax__tab_outer
{
    z-index:9999;
    border-bottom:none;
    background:#da1423;
    margin-right:5px;
}

.ajax__tab_white .ajax__tab_outer:hover
{
    background:#053686;
}


.ajax__tab .ajax__tab_outer:hover
{
    background:#770f0f;
}

.ajax__tab_white .ajax__tab_active .ajax__tab_outer 
{
    padding:2px 2px 0 2px;
    outline:none;
    background:#ffffff;
    border-bottom-color:#ffffff;
}

.ajax__tab_white .ajax__tab_active .ajax__tab_tab
{
    color:#053686;
}
     

.ajax__tab .ajax__tab_active .ajax__tab_outer 
{
    padding:2px 2px 0 2px;
    outline:none;
    background:#053686;
}



/********************************************************** Ajax Accordion ****************************************************************************/

.accordionHeader, .accordionHeaderSelected
{
    margin-top:3px;
    padding:5px;
    font-size:20px;
    border-bottom:none;
}

.accordionHeader span, .accordionHeader a
{
    color:#ffffff;
    text-decoration:none;
}

.accordionHeaderSelected span, .accordionHeaderSelected a
{
    font-family:Arial, Helvetica, Verdana, sans-serif;
    text-decoration:none;
}

.accordionHeaderSelected span:hover, .accordionHeaderSelected a:hover
{
    color:#011e49;
}

.accordionContent
{
    border-top:none;
    padding:5px;
    font-size:14px;
}

/********************************************************** End of Ajax Accordion ****************************************************************************/